html {
  font-size: 14px;
  height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;

}

body {
  height: 100%;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  transition: "all 0.3s ease"
}

.form-floating>.form-control-plaintext::placeholder,
.form-floating>.form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating>.form-control-plaintext:focus::placeholder,
.form-floating>.form-control:focus::placeholder {
  text-align: start;
}

.accordion-button:hover {
  background-color: #8b0000;
  color: white;
}


.accordion-button:not(.collapsed) {
  background-color: #8b0000;
  color: white;
}

.bg-mars-dark {
  background-color: #8b0000 !important;
}

.navbar-mars .nav-link,
.navbar-mars .navbar-brand {
  color: white !important;
}

.flex-grow-1 {
  flex-grow: 1;
}

/* .no-transition {
    transition: none !important;
}
.no-transition * {
    transition: none !important;
} */
body,
header,
nav,
footer,
.card,
.btn,
a {
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}